body {
    background-color: rgba(46, 39, 50, 1.0);
    font-family: "Arial";
}

/*
* Main parts of the page.
* Header, Content/Body and Footer.
*/

.pageHeader {
    background-color: rgba(232, 171, 85, 1.0);
    margin: 0 auto 0 auto;
    min-width: 700px;
    width: 70%;
    height: 100px;
}
.pageContent {
    background-color: rgba(252, 252, 252, 1.0);
    margin: 0 auto 0 auto;
    overflow: auto;
    min-width: 700px;
    width: 70%;
    min-height: 600px;
}
.pageFooter {
    background-color: rgba(91, 75, 99, 1.0);
    border-radius: 0 0 20px 20px;
    margin: 0 auto 0 auto;
    min-width: 700px;
    width: 70%;
    height: 50px;
    text-align: center;
}

/*
* Parts of the header of the page.
*/

.websiteLogo {
    background-color: rgba(120, 157, 200, 1.0);
    position: relative;
    left: 50px;
    top: 40px;
}
.headerUserAccount {
    position: relative;
    float: right;
}

/*
* Event summary dialogs that will be
* listed on the website home page.
*/
.eventSummary {
    background-color: rgba(181, 82, 43, 1.0);
    margin: 10px auto 10px auto;
    width: 95%;
    height: 130px;
}
.eventSummary #titleAndDescription {
    position: relative;
    color: rgb(255, 255, 255);
    float: left;
    width: 80%;
    height: 100%;
}
.eventSummary #titleAndDescription p {
    position: absolute;
    bottom: 0;
    left: 20px;
}
.eventSummary #priceAndBuy {
    float: left;
    text-align: center;
    width: 20%;
    height: 100%;
}
.eventSummary #priceAndBuy #purchaseButton{
    border-radius: 10px;
    margin-top: 50px;
    width: 80%;
    height: 30px;
}


/*
* Table that will hold the available
* tickets available on the tickets
* selection page.
*/
.ticketTypesForm {
    margin: 5px auto;
    width: 80%;
}
.ticketTypesForm button {
    border-radius: 10px;
    width: 90px;
    height: 30px;
}
.ticketTypesTable {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.ticketTypesTable td, .ticketTypesTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
.ticketTypesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/*
* The form for the checkout page.
*/
.checkoutTable {
    border: None;
    text-align: center;
    width: 100%;
}
.checkoutForm input[type=text], select {
    padding: 10px 14px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.checkoutForm button {
    border-radius: 10px;
    width: 90px;
    height: 30px;
}